html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/navbar.css')
    link(rel='stylesheet', href='/stylesheets/table.css')
    link(rel='stylesheet', href='/stylesheets/form.css')

include includes/header

block content
  h1 Start New Video Project
  .container
    form(action='/TMS/newVideo', id='newVideo', method='post')
        label(for='file_name') Project Name
        input(type='text', name='file_name', required='true', id='file_name', placeholder='Project Name..')
        label(for='resolution') Resolution
        select(name='resolution', id='resolution', placeholder='Resolution..')
            option(value='1280 x 720') 1280 x 720
            option(value='1920 x 1080') 1920 x 1080
            option(value='2048 x 1080') 2048 x 1080
            option(value='3840 x 2160') 3840 x 2160
        label(for='minutes') Minutes
        select(name='minutes', id='minutes')
            option(value='0-1') 0-1 Minute
            option(value='1-2') 1-2 Minutes
            option(value='2-3') 2-3 Minutes
            option(value='3-4') 3-4 Minutes
            option(value='4-5') 4-5 Minutes
            option(value='5-6') 5-6 Minutes
            option(value='6-7') 6-7 Minutes
            option(value='7-8') 7-8 Minutes
            option(value='8-9') 8-9 Minutes
            option(value='9-10') 9-10 Minutes
        label(for='file_format') File Format
        select(name='file_format', id='file_format')
            option(value='WMV') WMV
            option(value='FLV') FLV
            option(value='MP4') MP4
            option(value='AVI') AVI
        label(for='tags') Tags
        input(type='text', name='tags', id='tags', placeholder='Tags..')
        input(type='submit', form='newVideo', value='Submit')